.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*
instance/
.vscode/
.idea/
.DS_Store
logs/
*.log
coverage/
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
.pyre/
mypy_cache/
.pytype/
.pyright/
celerybeat-schedule
celerybeat.pid
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
.pytest_cache/